/*
	GENERAL
*/
@font-face {
	font-family: "WebFont";
	src: url(../font/font.otf);
	
}
@font-face{
	font-family: "Symbols";
	src: url(../font/fontello.eot),
	url(../font/fontello.svg),
	url(../font/fontello.ttf),
	url(../font/fontello.woff),
	url(../font/fontello.woff2);
}
body, input {
	font-family: "WebFont", "Symbols", Arial, sans-serif;
}
body {
	margin: 0px;
	width: 100%;
	background-image: url("../image/index.jpg");
	background-repeat: repeat;
	overflow: hidden;
	cursor: url(../image/cursorOrange.gif), default;
}
/* 
	MAIN
*/
main{
	width: 400px;
	min-height: 600px;
	margin: 0px auto;
	border: 0.1px ridge black;
	background-image: url("../image/red.png");
	background-repeat: repeat;
	position: relative;
	z-index: 10;
	text-align: center;
	cursor: url(../image/cursor.gif), default;
}
main:before, main:after{
	content: "";
	width: 70px;
	height: 100%;
	position: absolute;
	top: 20px;
	background-image: url("../image/redSmall.png");
}
main:before{
	right: -69px;
	transform: skewY(20deg);
	box-shadow: 2px 0px 5px 0px black inset;
}
main:after{
	left: -70px;
	transform: skewY(-20deg);
	box-shadow: -2px 0px 5px 0px black inset;
}
/*
	FORM
*/
#form {
	margin: 100px auto 0px;
	height: 350px;
	border-radius: 40px;
	width: 350px;
	position: relative;
	box-shadow: 0px 0px 10px 4px black;
}
fieldset {
	border-width: 0px;
	text-align: left;
}
legend {
	text-align: center;
	color: #FFB740;
	font-size: 20px;
	margin: 10px 0px;
}
/*
	INPUTS
*/
input{
	margin: 1px;
	box-sizing: border-box;
	border: 1.5px solid #FFB740;
	background-color: black;
	outline: none;
	border-radius: 5px;
	padding: 5px;
	color: #FFB740;
	cursor: url(../image/cursorOrange.gif), default;
}
input::placeholder{
	color: #FFB740;
}
input:focus{
	background-color: #FFB740;
	border: 1.5px solid black;
	color: black;
}
input:focus::placeholder{
	color: black;
}
[placeholder] {
	width: 180px;
	transition: width 0.5s ease,border-radius 0.5s ease;
}
[placeholder]:hover{
	box-shadow: 0px 0px 10px 4px black;
}
[placeholder]:focus {
	width: 250px;
}
[type="checkbox"]{
	display: none;
}
[type="submit"]{
	width: 55px;
	cursor: pointer;
	border-radius: 0px;
	position: absolute;
	top: 150px;
	left: 147.5px;
	font-weight: bold;
	z-index: 5;
	cursor: url(../image/cursor.gif), default;
}
[type="submit"]:hover{
	border: 1.5px ridge black;
	color: black;
	background-color: #FFB740;
}
/*
	LABEL IMAGE
*/
.labelBlock{
	width: 46px;
	height: 110px;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 35px;
	right: 25px;
}
label{
	display: block;
	margin: 5px 0px;
	width: 45px;
	height: 45px;
	border-radius: 5px;
	position: relative;
	cursor: url(../image/cursor.gif), default;
}
.infoLabel{
	display: none;
	position: absolute;
	top: -65px;
	right: -61.5px;
	width: 140px;
	height: 25px;
	padding: 10px;
	background-color: black;
	color: #FFB740;
	border: 2px ridge #FFB740;
	text-align: center;
	font-weight: bold;
	box-sizing: content-box;
}
.infoLabel:after{
	content: "";
	position: absolute;
	top: 38px;
	right: 72.5px;
	width: 15px;
	height: 15px;
	background-color: black;
	border-bottom: 2px ridge #FFB740;
	border-left: 2px ridge #FFB740;
	transform: skew(45deg, -45deg);
	box-sizing: content-box;
}
label:hover .infoLabel{
	display: block;
}
label:hover{
	box-shadow: 0px 0px 15px 3px #FFB740;
}
label:nth-of-type(1) {
	background-image: url("../image/closePassword.jpg");
	background-size: cover;
	transition: background-image 0.5s ease;
}
label:nth-of-type(2) {
	background-image: url("../image/noSaveUser.jpg");
	background-size: cover;
	transition: background-image 0.5s ease;
}
/* 
	ADRES
*/
a {
	text-decoration: none;
	font-weight: bold;
	color: #FFB740;
	font-size: 20px;
	cursor: url(../image/cursor.gif), default;
}
[href="registration.php"]:hover:after, [href="registration.php"]:hover:before{
	content: '\e800';
	margin: 0px 5px;
}
[href="recovery.php"]:hover:after, [href="recovery.php"]:hover:before{
	content: '\f119';
	margin: 0px 5px;
}
[href="help.php"]:hover:after, [href="help.php"]:hover:before{
	content: '\e801';
	margin: 0px 5px;
}
/*
	OTHERS
*/
hr{
	width: 80%;
	text-align: center;
	border: 1px ridge black;
}
.submitBlock{
	position: absolute;
	top: 159px;
	right: 167.5px;
	width: 12.5px;
	height: 12.5px;
	background-color: white;
	transform: skew(45deg, -45deg);
	box-sizing: border-box;
	background-color: #FFB740;
	border: 1.3px ridge black;
	transition: all 0.2s ease;
}
[type="submit"]:hover ~ .submitBlockTop{
	top: 144px;
}
[type="submit"]:hover ~ .submitBlockBottom{
	top: 174px;
}
[type="submit"]:hover ~ .submitBlockRight{
	right: 141px;
}
[type="submit"]:hover ~ .submitBlockLeft{
	right: 196px;
}